body {
     font-family: "Montserrat";
}


#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    font-family: "Montserrat";
    font-weight: 900;
}

h2{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.5;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 7% 15%;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size:1.2rem;
    font-family: "Montserrat-light";
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title-image */


.title-image {
    width:60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

.dog-face {
    height:60px;
    width: 60px;
}

/* features section */

#features {
    padding: 4% 9%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    padding: 1rem;
}

.icon:hover {
    color:#ff4c68;
}

/* testimonials section */

#testimonials {
    background-color: #ef8172;
    text-align: center;
    color:#fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width:10%;
    border-radius: 100%;
    margin:20px;
}

#press {
    background-color: #ef8172;
    text-align:center;
    padding-bottom: 3%;
}

.press-logo {
    width:15%;
    margin: 20px 20px 50px;
}

/* Pricing section */

#pricing {
    padding:100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
    text-align: center;
}
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* call to action */

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
    color: #fff;
    text-align: center;
}


.cta-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}
 
/* footer section */

#footer {
    padding: 5% 13%;
    text-align: center;
}

.f-icon {
    margin:20px 10px;
}

